<script type="application/pxs-animation-mapping+json">
  {
    "blocks": [".promo-block"],
    "elements": [
      ".promo-block--header",
      ".promo-block--text",
      ".promo-block--button"
    ]
  }
</script>

<style>
  @media screen and (max-width: 480px) {
    .promo-grid--inner {
      width: 100%;
      display: grid;
      grid-gap: 10px;
      grid-row-start: span 1;
    }

    .promo-block--content {
      min-height: 190px !important;
      height: 190px !important;
      padding: 1rem 1.25rem;
      margin-top: 0px;
    }

    .promo-block--header {
      font-size: 20px !important;
      font-family: chaparralpro-bold;
    }
  }
  @media screen and (min-width: 720px) {
    #shopify-section-moving_carousel .promo-grid--container {
      padding-left: 0;
      padding-right: 0;
      max-width: initial;
    }
    #shopify-section-moving_carousel .promo-block {
      margin-left: 10px;
      margin-right: 10px;
    }
    #shopify-section-moving_carousel .slick-prev {
      position: absolute;
      top: 50%;
      left: 4.8%;
      transform: translate(-50%, -50%);
    }
    #shopify-section-moving_carousel .slick-next {
      position: absolute;
      top: 50%;
      right: 40px;
      transform: translate(-50%, -50%);
    }
    
    #shopify-section-moving_carousel .slick-prev img,.slick-next img{
      width: 40px;
      cursor: pointer;
    }
  }
</style>
{% for block in section.blocks %}
  {% style %}
  .promo-block--{{ block.id }}.promo-block--top-center {
    background-position: center top;
  }

  .promo-block--{{ block.id }}.promo-block--top-left {
    background-position: left top;
  }

  .promo-block--{{ block.id }}.promo-block--top-right {
    background-position: right top;
  }

  .promo-block--{{ block.id }}.promo-block--center-center {
    background-position: center center;
  }

  .promo-block--{{ block.id }}.promo-block--center-left {
    background-position: left center;
  }

  .promo-block--{{ block.id }}.promo-block--center-right {
    background-position: right center;
  }

  .promo-block--{{ block.id }}.promo-block--bottom-center {
    background-position: center bottom;
  }

  .promo-block--{{ block.id }}.promo-block--bottom-left {
    background-position: left bottom;
  }

  .promo-block--{{ block.id }}.promo-block--bottom-right {
    background-position: right bottom;
  }
  {% endstyle %}
{% endfor %}
<section class="promo-grid--container">
  {% if section.settings.title != blank %}
    <h2 class="home-section--title">
      {{ section.settings.title | escape }}
    </h2>
  {% endif %}

  {%- capture classes -%}
    home-section--content
    promo-grid--height-{{ section.settings.section_height }}
  {%- endcapture -%}

  <div class="{{ classes | strip_newlines }}">
    {% if section.blocks.size > 0 %}
      <div class="promo-grid--inner promo-grid__columns--{{ section.settings.section_columns }}">
        {% for block in section.blocks %}
          {%
            render 'promo-block',
            block: block,
            text_alignment: section.settings.text_alignment,
            index: forloop.index,
            background_position: block.settings.background_position
          %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {%
    render 'promo-block-background',
    blocks: section.blocks
  %}
</section>

<script type="text/javascript">
  $(document).ready(function() {
    if (window.matchMedia("(min-width: 769px)").matches) {
      /* the viewport is less than 768 pixels wide */
      $('#shopify-section-moving_carousel .promo-grid--inner').slick({
        dots: false,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        centerMode: true,
        initialSlide: 2,
        prevArrow:'<span class="slick-prev"><img src="https://cdn.shopify.com/s/files/1/0540/5202/8590/files/Arrow_left.svg?v=1630600386"/></span>',
        nextArrow:'<span class="slick-next"><img src="https://cdn.shopify.com/s/files/1/0540/5202/8590/files/Arrow_right.svg?v=1630600386"/></span>',
        centerPadding: '120px',
        responsive: [
          {
              breakpoint: 480,
              settings: "unslick"
          }
          ]
      });

       setTimeout(function(){
         var slides = $('#shopify-section-moving_carousel .promo-block');
         for (let i = 0 ; i < slides.length; i++) {
           if (slides[i].attributes['data-rimg']['nodeValue'] === 'loading'){
            slides[i].attributes['data-rimg']['nodeValue'] = 'loaded';
           } else if(slides[i].attributes['data-rimg']['nodeValue'] === 'lazy') {
             var bgImageUrl = slides[i].childNodes[3].attributes[0].value;
             slides[i].attributes.style.value += `background-image: url(${bgImageUrl});`;
             slides[i].attributes['data-rimg']['nodeValue'] = 'loaded';
           }
         }

       //  $('#shopify-section-moving_carousel .promo-block').attr('data-rimg', 'loaded');
       }, 1000);
    }
    
    
  });
 </script>

{% schema %}
{
  "name": "Grid",
  "class": "promo-grid--section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Grid"
    },
    {
      "id": "section_height",
      "type": "select",
      "label": "Image height",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "natural",
          "label": "Natural"
        }
      ],
      "default": "small"
    },
    {
      "id": "section_columns",
      "type": "range",
      "label": "Number of columns",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "id": "text_alignment",
      "type": "select",
      "label": "Text alignment",
      "options": [
        {
          "value": "top-left",
          "label": "Top left"
        },
        {
          "value": "top-center",
          "label": "Top center"
        },
        {
          "value": "top-right",
          "label": "Top right"
        },
        {
          "value": "center-left",
          "label": "Center left"
        },
        {
          "value": "center-center",
          "label": "Center center"
        },
        {
          "value": "center-right",
          "label": "Center right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "top-left"
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotional item",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "background_position",
          "label": "Background position",
          "options": [
            {
              "value": "top-left",
              "label": "Top left"
            },
            {
              "value": "top-center",
              "label": "Top center"
            },
            {
              "value": "top-right",
              "label": "Top right"
            },
            {
              "value": "center-left",
              "label": "Center left"
            },
            {
              "value": "center-center",
              "label": "Center center"
            },
            {
              "value": "center-right",
              "label": "Center right"
            },
            {
              "value": "bottom-left",
              "label": "Bottom left"
            },
            {
              "value": "bottom-center",
              "label": "Bottom center"
            },
            {
              "value": "bottom-right",
              "label": "Bottom right"
            }
          ],
          "default": "center-center"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Grid"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Use this section to welcome customers to your store, say a bit about your brand, or share news."
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text color",
          "default": "#4d4d4d"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text"
        },
        {
          "id": "button_style",
          "type": "select",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "primary"
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "id": "show_overlay",
          "type": "checkbox",
          "label": "Show overlay"
        },
        {
          "id": "background",
          "type": "color",
          "label": "Color"
        },
        {
          "id": "opacity",
          "type": "range",
          "label": "Opacity",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Grid",
      "category": "Image",
      "blocks": [
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        },
        {
          "type": "promotion"
        }
      ]
    }
  ]
}

{% endschema %}